<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Python Django</title>
</head>
<body>

<header>
    <h1>Django basic Example </h1>
    <nav>
        <ul>
            <li><a href="{url 'home'%}">Home</a></li>
            <li><a href="{url 'about'%}">about</a></li>
            <li><a href="{url 'contact'%}">contact</a></li>
        </ul>
        
    </nav>
</header>
<hr>
<section>
    {% block content %}
    {% endblock %}
</section>
<hr>

<footer>
    <p>&copy; 2024 - Django Basic Example. All rights reserved</p>
</footer>
</body>
</html>